<div class="menu-mobile" id="menu-mobile" hidden>
  <div class="menu-mobile__inner">
    <div class="menu-mobile__top">
      <span class="menu-mobile__logo"><img src="/assets/img/logo-lemaire.webp" width="512" height="152" alt="Établissements Lemaire"></span>
      <button class="menu-mobile__close" type="button">
        <svg class="ico" aria-hidden="true"><use href="#i-x"/></svg><span class="sr-only">Fermer le menu</span>
      </button>
    </div>
    <ul class="menu-mobile__list">
      <li><a data-nav="home" href="/">Accueil</a></li>
      <li><a data-nav="apropos" href="/a-propos/" data-soon>À propos</a></li>
      <li><a data-nav="maison" href="/maison-cle-en-main-a-fourmies/">Maison clé en main</a></li>
      <li><a data-svc="gros-oeuvre" href="/gros-oeuvre/">Gros œuvre</a></li>
      <li><a data-svc="second-oeuvre" href="/second-oeuvre/">Second œuvre</a></li>
      <li><a data-svc="chauffage-sanitaire" href="/chauffage-sanitaire/">Chauffage &amp; sanitaire</a></li>
      <li><a data-svc="chaudronnerie" href="/chaudronnerie-a-fourmies/">Chaudronnerie</a></li>
      <li><a data-nav="realisations" href="/#realisations">Nos réalisations</a></li>
    </ul>
    <div class="menu-mobile__foot">
      <a class="pill pill--solid" href="/contact/" data-soon>Nous contacter</a>
      <a class="pill pill--ghost" href="tel:+33649266478"><svg class="ico" aria-hidden="true"><use href="#i-phone"/></svg>06 49 26 64 78</a>
    </div>
  </div>
</div>
